.App {
  text-align: center;
  
}

body {
  font-family: Quicksand;
  font-weight: 800;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar{
  width: 30%;
  font-family: Quicksand;
  font-weight: 800;
}

.searchImage {
  height: 400px;
}


@media only screen and (max-width: 1000px) {
  .searchBar{
    width: 50%;
  }


}

@media only screen and (max-width: 1200px) {
  .searchBar{
    width: 40%;
  }
  .searchImage {
    height: 200px;
  }  
}


@media only screen and (max-width: 600px) {
  .searchBar{
    width: 60%;
  }
}

.center{
  text-align: center;
}

.space40 {
  margin-top: 40px;
}

.space20 {
  margin-top: 20px;
}

.alignLeft {
  text-align: left;
}